In [1]:
import pandas as pd
import gmaps
import gmaps.datasets
from ipywidgets.embed import embed_minimal_html

In [2]:
gmaps.configure(api_key='***')

In [3]:
file = 'data/spb-rentals-2020-feb'
df = pd.read_csv(file + '.csv', encoding='utf-16', delimiter='\t')
df.head()

,ID,Дата,Тип жилья,Тип дома,Год постройки,Этаж,Адрес,X,Y,Станция метро,"Расстояние до метро, м","Общая площадь, м","Площадь кухни, м","Жилая площадь, м","Аренда, руб./мес.","Ком. платежи, руб./мес.","Комиссия, %","Комиссия, руб.","Общий платеж, руб./мес",Описание
0,373307,04.02.2021,студия,Кирпичный,1975 г.п.,6/16 этаж,"Наличная ул., 51",59.951063,30.234309,Приморская,280,20.0,NaN,NaN,18000,2500.0,50,9000.0,20500,"\r\n Просторна, тёплая квартира..."
1,373306,04.02.2021,студия,Кирпичный,2011 г.п.,16/17 этаж,"Ленинский пр., 84к2",59.858804,30.199274,Ленинский пр.,4010,30.0,2.0,NaN,19000,2000.0,50,9500.0,21000,\r\n Отличная квартира-студия н...
2,373288,04.02.2021,студия,Кирпичный,,2/6 этаж,"Подольская ул., 44",59.913083,30.328014,Технологический и-т,620,16.0,NaN,NaN,20000,3000.0,15,3000.0,23000,\r\n Сдам на длительный срок кв...
3,373273,04.02.2021,студия,Кирп.Монолит,,13/24 этаж,"Пулковская ул., 6к2",59.839669,30.350828,Звездная,740,25.0,NaN,NaN,18000,2500.0,60,10800.0,20500,\r\n Сдается квартира-студия в ...
4,373268,04.02.2021,студия,Монолит,,11/14 этаж,"Ковалевская ул., 26к1",59.979444,30.510961,Ладожская,6580,26.0,6.0,NaN,16000,3500.0,60,9600.0,19500,\r\n Сдам квартиру студию в хор...

In [4]:
df['Аренда, руб./мес.'] = df['Аренда, руб./мес.'] / df['Общая площадь, м']
df

,ID,Дата,Тип жилья,Тип дома,Год постройки,Этаж,Адрес,X,Y,Станция метро,"Расстояние до метро, м","Общая площадь, м","Площадь кухни, м","Жилая площадь, м","Аренда, руб./мес.","Ком. платежи, руб./мес.","Комиссия, %","Комиссия, руб.","Общий платеж, руб./мес",Описание
0,373307,04.02.2021,студия,Кирпичный,1975 г.п.,6/16 этаж,"Наличная ул., 51",59.951063,30.234309,Приморская,280,20.0,NaN,NaN,900.000000,2500.0,50,9000.0,20500,"\r\n Просторна, тёплая квартира..."
1,373306,04.02.2021,студия,Кирпичный,2011 г.п.,16/17 этаж,"Ленинский пр., 84к2",59.858804,30.199274,Ленинский пр.,4010,30.0,2.0,NaN,633.333333,2000.0,50,9500.0,21000,\r\n Отличная квартира-студия н...
2,373288,04.02.2021,студия,Кирпичный,,2/6 этаж,"Подольская ул., 44",59.913083,30.328014,Технологический и-т,620,16.0,NaN,NaN,1250.000000,3000.0,15,3000.0,23000,\r\n Сдам на длительный срок кв...
3,373273,04.02.2021,студия,Кирп.Монолит,,13/24 этаж,"Пулковская ул., 6к2",59.839669,30.350828,Звездная,740,25.0,NaN,NaN,720.000000,2500.0,60,10800.0,20500,\r\n Сдается квартира-студия в ...
4,373268,04.02.2021,студия,Монолит,,11/14 этаж,"Ковалевская ул., 26к1",59.979444,30.510961,Ладожская,6580,26.0,6.0,NaN,615.384615,3500.0,60,9600.0,19500,\r\n Сдам квартиру студию в хор...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2088,700437386,05.02.2021,2-комн. квартира,Кирп.Монолит,,5/5 этаж,"Металлистов пр., 130",59.974356,30.386703,Лесная,2630,43.0,6.0,12+18,581.395349,NaN,50,12500.0,25000,\r\n Сдается уютная евродвушка ...
2089,700437013,05.02.2021,2-комн. квартира,Кирп.Монолит,,6/8 этаж,"Киевская ул., 5к7",59.902274,30.330959,Фрунзенская,870,38.0,5.0,9+10,1026.315789,5000.0,50,19500.0,44000,\r\n Сдается светлая и уютная е...
2090,700436549,05.02.2021,2-комн. квартира,Панельный,,9/9 этаж,"Искровский пр., 4к3",59.914795,30.463113,Большевиков пр.,610,50.0,8.0,12+18,500.000000,5000.0,50,12500.0,30000,\r\n Сдается 2-комнатная кварти...
2091,700435962,05.02.2021,2-комн. квартира,Панельный,,1/5 этаж,"Ланское ш., 45",59.993139,30.315446,Черная речка,1180,41.0,6.0,18+9,560.975610,5000.0,50,11500.0,28000,\r\n Сдается квартира на длител...
2092,700435831,05.02.2021,2-комн. квартира,Панельный,,8/8 этаж,"Новаторов бул., 39",59.847462,30.267170,Ленинский пр.,490,45.0,6.0,10+18,577.777778,3500.0,50,13000.0,29500,\r\n Сдается 2-х комнатная квар...

In [5]:
df1 = df[['X', 'Y', 'Аренда, руб./мес.']]
df1 = df1.rename({'Аренда, руб./мес.':'Rent'}, axis='columns')
df1

              X          Y         Rent
0     59.951063  30.234309   900.000000
1     59.858804  30.199274   633.333333
2     59.913083  30.328014  1250.000000
3     59.839669  30.350828   720.000000
4     59.979444  30.510961   615.384615
...         ...        ...          ...
2088  59.974356  30.386703   581.395349
2089  59.902274  30.330959  1026.315789
2090  59.914795  30.463113   500.000000
2091  59.993139  30.315446   560.975610
2092  59.847462  30.267170   577.777778

[2093 rows x 3 columns]

In [6]:
df1.to_csv('data/coordinates-2020-feb.csv')

In [9]:
df1.describe()

                 X            Y         Rent
count  2093.000000  2093.000000  2093.000000
mean     59.940123    30.322334   652.919806
std       0.073978     0.091891   273.827169
min      59.718375    30.082630     1.000000
25%      59.863116    30.249971   493.150685
50%      59.939293    30.325066   583.333333
75%      60.005697    30.383188   729.166667
max      60.082857    30.554389  3437.500000

In [7]:
data = gmaps.datasets.load_dataset_as_df('spb_rent')
data.head()

           X          Y         Rent
0  59.951063  30.234309   900.000000
1  59.858804  30.199274   633.333333
2  59.913083  30.328014  1250.000000
3  59.839669  30.350828   720.000000
4  59.979444  30.510961   615.384615

In [10]:
figure_layout = {
    'width': '100%',
    'height': '75vh'
}

locations = data[['X', 'Y']]
weights = data['Rent']
coordinates = (59.9311, 30.3609)

fig = gmaps.figure(center=coordinates, 
                   zoom_level=10, 
                   map_type='HYBRID', 
                   layout=figure_layout)

fig.add_layer(gmaps.heatmap_layer(locations, 
                                  weights=weights, 
                                  point_radius=5, 
                                  max_intensity=3000))
fig

Figure(layout=FigureLayout(height='75vh', width='100%'))

In [11]:
embed_minimal_html('spb-rent-map.html', views=[fig])